{% extends "base.html" %}
{% block content %}
<div id="section-500" class="section container clearfix">
  <div class="span-22 prepend-1 append-1 last">
    <h2 class="section-title">An error ocurred!</h2>
  </div>
  <div class="span-10 prepend-1 append-1">
    <p>
      Please try again or go to our
      <a href="{% url index %}">home</a>
    </p>
  </div>
  <div class="span-10 prepend-1 append-1 last">
    <img src="{{ MEDIA_URL }}images/machine.png" class="machine" alt="Anue powered" />
  </div>
</div>
{% endblock %}
