<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Funky Python Web Solutions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Anue.biz - Funky Python web solutions." />
    <meta name="keywords" content="python, web development, django, sysadmin, system administration" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.blockUI.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, projection" />
    <!--[if lt IE 7]><script type="text/javascript" src="{{ MEDIA_URL }}js/unitpngfix.js"></script><![endif]-->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.scrollTo-1.4.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.anueform.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/anue.js"></script>
  </head>
  <body>
    <div id="main" class="clearfix">

      <div id="header">
        <div id="header-top" class="container clearfix">
          <div id="header-top-container" class="container">
            <div class="prepend-1 span-8">
              <a title="Anue: Funky Python web solutions" href="{% url index %}#main">
                <img src="{{ MEDIA_URL }}images/logo.png" alt="Anue" id="logo" />
              </a>
            </div>
            <div class="span-15 last">
              <ul id="social_bookmarks">
                <li><a href="http://www.linkedin.com/in/anue"><img src="{{ MEDIA_URL }}images/button-linkedin.png" alt="link with us on linkedin" /></a></li>
                <li><a href="http://twitter.com/anue_biz"><img src="{{ MEDIA_URL }}images/button-twitter.png" alt="follow us on twitter" /></a></li>
                <li><a href="{% url index %}#section-contact"><img src="{{ MEDIA_URL }}images/button-contact.png" alt="contact us" /></a></li>
                <li><a href="http://www.facebook.com/group.php?gid="><img src="{{ MEDIA_URL }}images/button-facebook.png" alt="follow us on facebook" /></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="menu-container">
          <div class="container clearfix">
            <ul id="menu">
              <li><a href="{% url index %}#section-about">About</a></li>
              <li><a href="{% url index %}#section-services">Services</a></li>
              <li class="hide"><a href="{% url index %}#section-portfolio">Portfolio</a></li>
              <li><a href="{% url index %}#section-contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="content">
        {% block content %}
        {% include "section_about.html" %}
        {% include "section_services.html" %}
        {% include "section_contact.html" %}
        {% endblock %}
        <div id="footer-container">
          <div id="footer" class="container">
            <div class="span-16 prepend-1 append-1"><p>Copyright 2010 &copy; <a href="index.html">anue</a>. All rights reserved.</p></div>
            <div class="span-4 prepend-1 append-1 last"><p>Back to <a href="#section-about">heaven</a></p></div>
          </div>
        </div>
      </div> <!-- end #content -->
    </div> <!-- end #main -->
  </body>
</html>
