<div id="section-services" class="section container clearfix">
  <div class="span-22 prepend-1 append-1 last">
    <h2 class="section-title">services</h2>
  </div>
  <div class="span-6 prepend-1 append-1 vseparator">
    <h3>Python/Django</h3>
    <p>
      Building and maintaining Web apps should not be a
      headache. That's why we use Python+Django for our
      projects.
    </p>
    <p>
      We turn ideas to reality and existing projects to better
      ones.
    </p>
  </div>
  <div class="span-6 prepend-1 append-1 vseparator">
    <h3>System administration</h3>
    <p>
      We provide ninja sysadmin skills for small/medium/high
      traffic servers.
    </p>
    <p>
      We know how to setup mailing servers, automate
      deployments and optimize configurations.
    </p>
  </div>
  <div class="span-6 prepend-1 append-1 last">
    <h3>Outsourcing</h3>
    <p>
      If you need some of our experts in your own existing
      development team you can ask us for that.
    </p>
    <p>
      Anue developers are great teammates commited to get the
      job done.
    </p>
  </div>
</div>
