<div id="section-about" class="section container clearfix">
  <div class="span-22 prepend-1 append-1 last">
    <h2 class="section-title">about</h2>
  </div>
  <div class="span-10 prepend-1 append-1">
    <p>Hello, we are <strong>anue</strong>.</p>
    <p>
      We are fans of open standards, python, the web and
      beautiful code. We provide software solutions that scale
      and are simple to maintain.
    </p>
    <p>
      We think our software as a piece of art and that's why
      our development approach aims for KISS (Keeping It
      Simple, Silly).
    </p>
    <p>
      We provide python and django based applications that
      help business to achieve success.
    </p>
  </div>
  <div class="span-10 prepend-1 append-1 last">
    <img src="{{ MEDIA_URL }}images/machine.png" class="machine" alt="Anue powered" />
  </div>
</div>
